.about-me-container {
    background-color: var(--seasalt);
    padding: 20px;
    color: var(--jet);
    font-family: Arial, sans-serif;
}

.about-me-title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.about-me-title::before {
    content: '⭐';
    margin-right: 10px;
}
.img-thumbnail {
    width: 250px;
    height: auto;
    border-radius: 50%;
}